In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stat
import os

In [9]:
Cust_Exp = pd.read_csv("Testing_Of_Hypothesis copy.csv")
Cust_Exp

    Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

In [18]:
Cust_Exp.isnull().sum()
Cust_Exp.columns

Index(['Sr No', 'S_Cust_id', 'Samsung_Score', 'Apple_Cust_id', 'Apple_Score'], dtype='object')

In [17]:
Cust_Exp = Cust_Exp.rename(columns={"Samsung Score": "Samsung_Score"})

## 1. The Samsung Average customer satisfaction score is minimum 75%.
 - H0 : Average Customer Satisfaction Score is minimum 75% i.e 63.675
 - H1 : Average Customer Satisfaction Score is not minimum 75% i.e 63.675
 - Consedring Alpha to be 0.05

In [29]:
Average_Samsung_Score = Cust_Exp.Samsung_Score.mean()
Average_Samsung_Score

84.9

In [31]:
Minimum_Score = Average_Samsung_Score*.75
Minimum_Score

63.675000000000004

In [32]:
stat.ttest_1samp(a= Cust_Exp.Samsung_Score,popmean=63.674)

Ttest_1sampResult(statistic=17.920506003361535, pvalue=7.687136332624427e-33)

### Since the P-Value is very very less then Alpha, we reject H0, and accept H1 i.e Average Customer Satisfaction Score is not minimum 75%

## 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction score
 - H0 : The Average satisfaction score of Samsung is same as Apple Satisfaction score
 - H1 : The Average satisfaction score of Samsung is not same as Apple Satisfaction score
 - Independent Sample Test
 - Consedring Alpha = 0.05

In [20]:
Samsung_Score = Cust_Exp.Samsung_Score
Apple_Score = Cust_Exp.Apple_Score

In [24]:
t_unequal = stat.ttest_ind(a=Samsung_Score,b=Apple_Score,equal_var=False)
t_unequal.statistic

-1.9064295935043474

In [26]:
t_equal = stat.ttest_ind(a=Samsung_Score,b=Apple_Score,equal_var=True)
t_equal.statistic

-1.9064295935043472

### Since the difference between variance of equal and unequal are almost similar, we will consider the stats where equal_variance is True

In [27]:
t_equal.pvalue

0.058042614444118075

### As the value of P is slightly higher than the Alpha, we fail to reject H0, therefore concluding that both the Samsung & Apple have similar Satisfaction Score